body
  font-family: 'Raleway'
  background-color: #2CC990
  overflow-x: hidden

header

#intro
  padding: 40px
  width: 100vw
  background-color: black

  #brandname
    margin-right: 20px
    color: white
    float: left

    span
      color: #2CC990

  #vendor
    color: white
    float: right
    padding-right: 5rem

/*===========================*/

.jumbotron
  background-color: white
  padding: 200px
  width: 100vw
