body {
  font-family: 'Raleway';
  background-color: #2CC990;
  overflow-x: hidden;
}

#intro {
  padding: 40px;
  width: 100vw;
  background-color: black;
}

#intro #brandname {
  margin-right: 20px;
  color: white;
  float: left;
}

#intro #vendor {
  color: white;
  float: right;
  padding-right: 5rem;
}

/*===========================*/
.jumbotron {
  background-color: white;
  padding: 200px;
  width: 100vw;
}

.jumbotron h1 {
  font-size: 3.5rem;
}

.jumbotron .lead {
  font-size: 2.5rem;
  color: white;
  background: #2CC990;
  width: 400px;
  text-align: center;
  text-shadow: 2px 2px 1px black;
  box-shadow: 2px 2px 1px black;
}

.jumbotron p {
  font-size: 1.5rem;
}

.jumbotron hr {
  border: 1px solid #2CC990;
  width: 300px;
  float: left;
}

.jumbotron li {
  list-style: none;
  height: 30px;
  position: relative;
  clear: both;
}

.jumbotron button {
  background: #2CC990;
  width: 400px;
  padding: 10px;
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px black;
  box-shadow: 2px 2px 1px black;
}

.jumbotron button:hover {
  box-shadow: 4px 4px 2px black;
}
